<!--Workout Data Dashboard start-->
        <div class="d-flex justify-content-around text-uppercase container-fluid">
            <!--Workout Attempted input and display-->
            <div class=" d-flex p-1 m-2 text-wrap flex-shrink-1">
                <br><br><br><br><br>
                <h2 class="d-flex flex-shrink-1 text-wrap justify-content-evenly fs-5">Workouts Attempted</h2>
            </div>
            <div class="vr"></div>
            <!--Total Workout time input and display-->
            <div class="p-1 m-2 text-wrap flex-shrink-1 d-flex">
                <br><br><br><br><br>
                <h2 class=" d-flex flex-shrink-1 text-wrap justify-content-evenly fs-5">Total Workout Time</h2>
            </div>
            <div class="vr"></div>
            <!--Kcal burned input and display-->
            <div class="p-1 m-2 text-wrap flex-shrink d-flex">
                <br><br><br><br><br>
                <h2 class=" d-flex flex-shrink-1 text-wrap justify-content-evenly fs-5">Kcal</h2>
            </div>
        </div>
    </section>
    <!--Workout Data Dashboard end-->
    <!--Weekly Goal Section start-->
    <section class="container-fluid">
        <div>
        </div>
    </section>
    <!--Weekly Goal Section end-->
    <!--Exercise Log (will be created using javascript) start-->
    <section class="container-fluid">
        <div>
        </div>
    </section>
    <!--Exercise Log end-->
        {{#if logs.length}}
        {{#each logs as |log|}}
    <div class="card w-75 m-5" data-aos="zoom-in" data-aos-duration="1000">
        <div class="card-header">
            <a class="log-title" href="/editlog/{{log.id}}">
                {{log.title}} logged on {{format_date log.created_at}}
            </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Workouts Attempted: {{log.exercises}}</h4>
          <h4 class="card-title">Calories Burned: {{log.calories_burned}}</h4>
          <h4 class="card-title">Total Workout Time: {{log.time}}</h4>
          <h3 class="card-title log-border">Log:</h3>
          <p class="card-text">{{log.body}}</p>
        </div>
      </div>
      {{/each}}
      {{/if}}