<div class="h1 m-4 forums-color"> Welcome to the CalisthenicsClub Forums!</div>

<ul class="list-group">
    <li class="list-group-item forum-grey">
        <div class="d-flex justify-content-between">
            <div class="title">{{ post.title }}</div>
            <div>Asked by {{post.user.username}} on {{ post.created_at }}</div>
        </div>
        <div>{{ post.vote_count }} Likes | {{post.comments.length}} Comments</div>
        <div class="p-5">{{post.body}}</div>
    </li>
  </ul>

    {{#if loggedIn}}
    <form class="container-fluid comment-form">
    <div class="form-group w-50 p-3">
      <label for="exampleFormControlTextarea1">Use textarea to comment below!</label>
      <textarea class="form-control" name="comment-body" rows="3"></textarea>
    </div>
    <div class="p-3">
        <button type="submit" class="comment-btn text-white">add comment</button>
        <button type="button" class="upvote-btn text-white">upvote</button>
      </div>
      <div class="comments">
          {{#each post.comments}}
        <section class="comment">
          <div class="meta">
            {{user.username}} on {{created_at}}
          </div>
          <div class="text">
            {{comment_text}}
          </div>
        </section>
          {{/each}}
      </div>
  </form>
  {{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}
  
